*{
    
    margin: 0;
    
    padding: 0;
    
    list-style: none;
    
    box-sizing: border-box;
}


body{


    

    background-image: url(../img/cafefondo2.jpg);

    

}

@import "mixins";
@import "variables";
@import "principal";
@import "lacarta";
@import "contacto";
@import "reservas";
@import "unetenos";
@import "footer";
@import "mediaq";















